<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tuts #4 - Vue Event Listeners</title>
</head>
<body>
    <div id="root">
        <h4>Favorite Games</h4>
        <ul>
            <li v-for="game in games">{{ game }}</li>
        </ul>
        <input type="text" v-model="newGame" @keyUp="addNewGame">
        <button @click="addNewGame">Add Game</button>
        <hr>

        <h4>Favorite Programming Language</h4>
        <ul>
            <li v-for="lang in languages" v-text="lang"></li>
        </ul>
        <hr>

        <h4>Quote</h4>
        <blockquote>{{ quote }}</blockquote>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#root',
            data: {
                newGame: '',
                games: ['Dota 2', 'Call of Duty', 'The Witcher'],
                languages: ['PHP', 'Javascript', 'Kotlin', 'Dart'],
                quote: 'I love this quote'
            },
            methods: {
                addNewGame() {
                    this.games.push(this.newGame)

                    this.newGame = ''
                }
            },
            mounted() {
                
            }
        })
    </script>
</body>
</html>