<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tuts #6 - The Need For Computed Properties</title>
</head>
<body>
    <div id="root">
        <h1>{{ reversedName }}</h1>
        <hr>

        <h3>All Games</h3>
        <ul>
            <li v-for="game in steamGames">
                {{ game.title }} <input type="checkbox" :checked="game.isPlayed" disabled></i>
            </li>
        </ul>
        <hr>

        <h3>Played Games</h3>
        <ul>
            <li v-for="game in playedSteamGames">
                {{ game.title }} <input type="checkbox" checked>
            </li>
        </ul>
        <hr>

        <h3>Not Yet Played Games</h3>
        <ul>
            <li v-for="game in notYetPlayedSteamGames">
                {{ game.title }} <input type="checkbox">
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#root',
            data: {
                name: 'Ahmad Jamil Al Rasyid',
                steamGames: [
                    { title: 'Dota 2', isPlayed: true },
                    { title: 'The Witcher: 3', isPlayed: true },
                    { title: 'The Witcher: 2', isPlayed: false },
                    { title: 'The Witcher: 1', isPlayed: true },
                    { title: 'Monster Hunter World', isPlayed: true },
                    { title: 'GTA V', isPlayed: true },
                    { title: 'GTA IV', isPlayed: false },
                    { title: 'GTA III', isPlayed: false }
                ]
            },
            computed: {
                reversedName() {
                    return this.name.split('').reverse().join('')
                },
                playedSteamGames() {
                    return this.steamGames.filter(game => game.isPlayed)
                },
                notYetPlayedSteamGames() {
                    return this.steamGames.filter(game => !game.isPlayed)
                }
            }
        })
    </script>
</body>
</html>